<div class="card box-shadow-full p-md-5 mt-5 mb-5">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img class="rounded img-fluid" alt="avatar"
                            src="assets/images/main_avatar.jpeg">
                    </div>
                    <div class="col-md-6 col-lg-7 pt-3 pt-md-0">
                        <div class="about-info">
                            <p><span class="title-s">Nombre: </span> <span>Miguel Villa</span></p>
                            <p><span class="title-s">Perfil: </span> <span>Desarrollador Java</span></p>
                            <p><span class="title-s">Correo: </span> <span>isc.villa.reyes.miguel@gmail.com</span></p>
                            <p><span class="title-s">Tel&eacute;fono: </span> <span class="text-hidden">(+52) 000 000 0000</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="skill-mf">
                            <p class="title-s mt-sm-3">Habilidades:</p>
                            <span>Java</span> <span class="pull-right">90%</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span>PHP</span> <span class="pull-right">80%</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span>Python</span> <span class="pull-right">60%</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="title-left mb-4 pt-4 pt-lg-0">
                    Acerca de mi
                </h5>
                <p class="lead-custome">
                    <strong>Ingeniero en Sistemas Computacionales</strong> con 3 a&ntilde;os de experiencia, actualmente me desempe&ntilde;o como <strong>Desarrollador Sr.</strong>
                    en <strong>Accenture</strong> y colaborando en proyectos de <strong>BBVA</strong>, en el &aacute;rea de <strong>Arquitectura de Servicios</strong> enfoc&aacute;ndome
                    principalmente en el <strong>desarrollo de microservicios y APIs</strong>.
                </p>
                <p class="lead-custome">
                    <strong>Me gusta la programaci&oacute;n</strong> en general, <strong>desarrollar proyectos innovadores</strong>, de calidad y que aporten valor. Por ello siempre estoy
                    aprendiendo y practicando; prepar&aacute;ndome para nuevos retos.
                </p>
            </div>
        </div>
    </div>
</div>