<div id="home" class="intro route bg-image-top">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="offset-3 col-6 offset-md-5 col-md-2">
                        <img class="img-fluid rounded-circle mb-3" src="assets/images/main_avatar.jpeg" alt="">
                    </div>
                </div>
                <h1 class="intro-title mb-2">Miguel Villa</h1>
                <h1 class="intro-subtitle mb-4">ingeniero en sistemas</h1>
                <p>
                    <a href="mailto:isc.villa.reyes.miguel@gmail.com" target="_blank">
                        <i class="fas fa-envelope-open"></i>
                    </a>
                    <span class="dot white-color">&#8226;</span>
                    <a href="https://www.linkedin.com/in/villa-reyes-miguel-angel/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <span class="dot white-color">&#8226;</span>
                    <a href="https://github.com/ISCMiguelVilla" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <span class="dot white-color">&#8226;</span>
                    <a href="https://twitter.com/ISCMiguelVilla" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <span class="dot white-color">&#8226;</span>
                    <a href="https://www.instagram.com/isc.miguel.villa" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <app-about></app-about>
            <app-portfolio></app-portfolio>
            <app-skills></app-skills>
            <app-courses></app-courses>
        </div>
    </div>
</div>
