.course-title h5 {
    text-align: right;
    color: #6a8eb7;
    text-transform: uppercase;
    font-weight: bold;
}

.course-title h6 {
    text-align: right;
    color: #605C5B;
    text-transform: uppercase;
}

.course-summary h5 {
    color: #605C5B;
    font-weight: bold;
}
.course-summary h5 small {
    color: #605C5B;
    font-weight: normal;
}
.course-summary p {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .course-title h5 {
        text-align: left;
    }

    .course-row.divider {
        border-bottom: 1px solid #ccc;
        margin-top: 16px;
    }
}