<div class="container margin-navbar">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <div class="card mt-5 p-5 box-shadow-full">
                <div class="row mb-3">
                    <div class="col-sm-12 col-lg-6">
                        <img class="img-fluid rounded" src="assets/images/projects/devs_utilities/devs_utilities_portfolio.png" alt="banner">
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <h5 class="title-left mb-4 pt-4 pt-lg-0">
                            DevsUtilities
                        </h5>
                        <p class="lead-custome">
                            <strong>DevsUtilities</strong> es un proyecto que pretende <strong>agilizar el desarrollo de aplicaciones</strong> gen&eacute;ricas, con
                            c&oacute;digo repetitivo o l&oacute;gica b&aacute;sica, <strong>generando c&oacute;digo Java</strong>.<br>
                            <br>
                            No pretende generar proyectos listos para su uso, sino en <strong>liberar al programador de todo trabajo que no necesite
                            ser supervisado</strong>, permitiendo que este se enfoque en secciones del proyecto de mayor complejidad.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 skill-mf">
                        <p class="title-s">Tecnolog&iacute;as:</p>
                        <span>Java</span> <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Maven</span> <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="about-info">
                            <p><span class="title-s">Propuesta y desarrollo: </span> <span>Miguel Villa</span></p>
                            <p><span class="title-s">A&ntilde;o: </span> <span>2020</span></p>
                            <p><span class="title-s">Cliente: </span> <span class="text-hidden">cliente no disponible</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-explanation mt-5">
                <h5>Problem&aacute;tica</h5>
                <hr>
                <p class="text-hidden">
                    Esta secci&oacute;n se omite ya que este documento s&oacute;lo es una <strong>breve introducci&oacute;n a los proyectos que he desarrollado</strong> a lo largo de mi carrera profesional.
                    Si gustas puedes ponerte <strong>en contacto conmigo a trav&eacute;s de mi correo</strong> o mis redes sociales que puedes encontrar en este mismo sitio.
                    Esta secci&oacute;n se omite ya que este documento s&oacute;lo es una breve introducci&oacute;n a los proyectos que <strong>he desarrollado</strong> a lo largo de mi carrera profesional.
                    Si gustas puedes ponerte <strong>en contacto conmigo a trav&eacute;s de mi correo</strong> o mis redes sociales que puedes encontrar en este mismo sitio.
                    Esta secci&oacute;n se omite ya que este documento s&oacute;lo es una breve introducci&oacute;n a los proyectos que he desarrollado <strong>a lo largo de mi carrera profesional</strong>.
                    Si gustas puedes ponerte <strong>en contacto conmigo a trav&eacute;s de mi correo</strong> o mis redes sociales que puedes encontrar en este mismo sitio.
                </p>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/devs_utilities/diagram_blur_1.png" target="_blank">
                                <img src="assets/images/projects/devs_utilities/diagram_blur_1.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption text-hidden">Figura N | Diagrama en blur.</figcaption>
                        </figure>
                    </div>
                </div>
                <p class="text-hidden">
                    Esta secci&oacute;n se omite ya que este documento s&oacute;lo es una <strong>breve introducci&oacute;n a los proyectos que he desarrollado</strong> a lo largo de mi carrera profesional.
                    Si gustas puedes ponerte <strong>en contacto conmigo a trav&eacute;s de mi correo</strong> o mis redes sociales que puedes encontrar en este mismo sitio.
                </p>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/devs_utilities/diagram_blur_2.png" target="_blank">
                                <img src="assets/images/projects/devs_utilities/diagram_blur_2.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption text-hidden">Figura N | Diagrama en blur.</figcaption>
                        </figure>
                    </div>
                </div>
                <p class="text-hidden">
                    Esta secci&oacute;n se omite ya que este documento s&oacute;lo es una breve introducci&oacute;n a los proyectos que <strong>he desarrollado</strong> a lo largo de mi carrera profesional.
                    Si gustas puedes ponerte <strong>en contacto conmigo a trav&eacute;s de mi correo</strong> o mis redes sociales que puedes encontrar en este mismo sitio.
                    Esta secci&oacute;n se omite ya que este documento s&oacute;lo es una breve introducci&oacute;n a los proyectos que he desarrollado <strong>a lo largo de mi carrera profesional</strong>.
                    Si gustas puedes ponerte <strong>en contacto conmigo a trav&eacute;s de mi correo</strong> o mis redes sociales que puedes encontrar en este mismo sitio.
                </p>
            </div>
            <div class="mb-5"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <app-portfolio></app-portfolio>
        </div>
    </div>
</div>