<footer class="container-fluid intro bg-image-top pt-5 pb-5">
    <div class="overlay-itro"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-lg-6 col-lg-6">
                <div class="card">
                    <div class="card-body p-5">
                        <h5 class="title-left mb-4 pt-4 pt-lg-0">
                            Contacto
                        </h5>
                        <div class="more-info mb-3">
                            <ul class="list-ico">
                                <li><i class="fas fa-map-marker-alt"></i> Toluca, M&eacute;xico</li>
                                <li><i class="fas fa-phone-alt"></i> <span class="text-hidden">(+52) 000 000 0000</span></li>
                                <li><i class="fas fa-envelope-open"></i> <a href="mailto:isc.villa.reyes.miguel@gmail.com" target="_blank">isc.villa.reyes.miguel@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class="socials">
                            <ul>
                                <li><a href="mailto:isc.villa.reyes.miguel@gmail.com" target="_blank"><span class="ico-circle"><i class="fas fa-envelope-open"></i></span></a></li>
                                <li><a href="https://www.linkedin.com/in/villa-reyes-miguel-angel/" target="_blank"><span class="ico-circle"><i class="fab fa-linkedin-in"></i></span></a></li>
                                <li><a href="https://github.com/ISCMiguelVilla" target="_blank"><span class="ico-circle"><i class="fab fa-github"></i></span></a></li>
                                <li><a href="https://twitter.com/ISCMiguelVilla" target="_blank"><span class="ico-circle"><i class="fab fa-twitter"></i></span></a></li>
                                <li><a href="https://www.instagram.com/isc.miguel.villa" target="_blank"><span class="ico-circle"><i class="fab fa-instagram"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>